/* body {
  width: 960px;
  margin: auto;

} */

header {
  width: 100%;
  background-color: gray;
  padding-bottom: 8px;
}

header img {
  margin-top: 10px;
  margin-left: 11.2%;
}

header ul {
  margin: 40px 0px 0px 30px;
  display: inline-block;
  vertical-align: top;
}

header li {
  margin-right: 60px;
  display: inline;
}

main {
  width: 960px;
  margin: auto;
}

main img:first-child {
  margin-top: 30px;
}

main li {
  display: inline;
  margin: 30px 0px 0px 25px;
}

main li:first-of-type {
  margin-left: 0px;
}

main article {
  width: 450px;
  margin: 30px 0px 0px 20px;
  float: right;
}

article h2 {
  font-size: 20px;
}

article p {
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 20px;
  overflow: scroll;
  height: 400px;
}

article a {
  text-decoration: none;
  padding: 10px;
  background-color: #111;
  border-radius: 5px;
  color: #fff;
   
}

a:hover {
  background-color: red;
  transition-delay: 350ms;
}

footer {
  height: 70px;
  width: 100%;
  margin-top: 30px;
  background-color: grey;
  left: 0;
  bottom: 0;
}